# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Optional: Ignore database dumps
*.sql

# Ignore coverage and test output
coverage/

# Ignore editor/project files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project 